@page
@model azure_app_test.Pages.DeploymemtSlotsModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome, Sachin</h1>
    <h2>To Deployments slots</h2>
    <p></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>